openapi: 3.0.3
info:
  title: "Slice Web Application \u2014 Senior QA API"
  description: High-fidelity public API mock for testing, documentation, and demo
    purposes
  version: 1.0.0
servers:
- url: https://api.sliceapp.dev/v1
tags:
- name: Claims
- name: Stores
- name: Payments
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Claim:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - EUR
          - GBP
      required:
      - id
      - status
      - amount
      - currency
      example:
        id: clm_123456
        status: submitted
        amount: 100.5
        currency: USD
    Store:
      type: object
      properties:
        id:
          type: string
        city:
          type: string
        name:
          type: string
      required:
      - id
      - city
      - name
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
security:
- bearerAuth: []
paths:
  /claims:
    post:
      tags:
      - Claims
      summary: Create a new claim
      operationId: createClaim
      x-reqid: REQ-PAY-001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Claim'
      responses:
        '201':
          description: Claim created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Claim'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /claims/{id}:
    get:
      tags:
      - Claims
      summary: Get claim by ID
      operationId: getClaim
      x-reqid: REQ-ORD-014
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Claim'
        '404':
          description: Not Found
    delete:
      tags:
      - Claims
      summary: Delete a claim
      operationId: deleteClaim
      x-reqid: REQ-OPS-021
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
        '404':
          description: Not Found
  /stores:
    get:
      tags:
      - Stores
      summary: List stores by city
      operationId: listStores
      x-reqid: REQ-STR-003
      parameters:
      - name: city
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Store'
